:host {
  position: relative;
  width: 100vw;
  height: 100vh;
}

div.forms {
  position: fixed;
  inset: 5%;
  left: unset;
  width: fit-content;
  height: fit-content;
}

fieldset.tracker-form {
  padding: 5px 20px 5px 10px;
}

fieldset.url-form {
  padding: 5px 20px 5px 10px;
}

input {
  margin: 0.4rem;
}
